body {
    font-family: 'Outfit', sans-serif;
     background-image: url(../Imagens/fundo-site.png); /* Dessa forma você consegue colocar uma imagem de fundo no seu site */
     background-repeat: no-repeat; /* Para a imagem não repetir  */
     background-size: cover; /* Se o background-size é contain ou cover : A imagem é renderizada, preservando sua proporção intrínseca, com o maior tamanho contido, ou cobrindo a área do elemento pai. Se a imagem não tiver uma proporção intrínseca, então ela é renderizada no tamanho da área do elemento pai*/

}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center; /* A propriedade align-items alinha os itens dentro de um container flex ao longo do eixo cruzado (perpendicular). */ 
}